<section class="equipe-section">
    <h2>les membres de Ordre mauritanien des architectes</h2>
    <div class="equipe-grid">
      <div class="equipe-card" *ngFor="let membre of membres">
        <img [src]="membre.photo" alt="{{membre.nom}}">
        <div class="equipe-overlay">
          <p><strong>Matricule :</strong> {{membre.matricule}}</p>
          <p><strong>Nom :</strong> {{membre.nom}}</p>
          <p><strong>Téléphone :</strong> {{membre.telephone}}</p>
          <p><strong>Email :</strong> {{membre.email}}</p>
          <p><strong>Structure :</strong> {{membre.structure}}</p>
        </div>
      </div>
    </div>
  </section>
  