<footer class="footer-accueil">
  <div class="footer-content">
    <div class="footer-col footer-left">
      <div class="footer-logo footer-logo-large">
        <img src="/assets/logo_oma.svg" alt="OMA Logo">
      </div>
      <p class="footer-desc">L'OMA veille à la qualité, l'éthique et la durabilité de la profession d'architecte en Mauritanie.</p>

    </div>

    <div class="footer-col footer-center">
      <nav class="footer-nav">
        <a routerLink="/accueil">Accueil</a>
        <a routerLink="/oma">OMA</a>
        <a routerLink="/travailler">Travailler avec un architecte</a>
        <a routerLink="/mediatheque">Médiathèque</a>
        <a routerLink="/faq">FAQ</a>
        <a routerLink="/contact">Contact</a>
      </nav>
      <hr class="footer-sep">
      <div class="footer-contact">
        <div class="contact-block">
          <strong>Adresse email</strong>
          <!-- <div class="contact-value"><a href="mailto:contact@oma.mr">contact@oma.mr</a></div> -->
        </div>
        <div class="contact-block">
          <strong>Contact</strong>
          <div class="contact-value">+222 42 86 70 44 / +222 34 44 31 30</div>
        </div>
      </div>
    </div>

    <div class="footer-col footer-right">
      <div class="footer-boxes">
        <div class="small-box"></div>
        <div class="small-box"></div>
        <div class="small-box"></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">&copy; 2026 Ordre Mauritanien des Architectes. Tous droits réservés.</div>
</footer>