<header class="oaa-header">
  <div class="oaa-header-top">
    <div class="oaa-logo">
      <img src="assets/logo_oma.svg" alt="OMA">
    </div>
    <button class="oaa-burger" aria-label="Ouvrir le menu de navigation" (click)="menuOpen = !menuOpen"
      [attr.aria-expanded]="menuOpen">
      <span></span><span></span><span></span>
    </button>
    <nav class="oaa-nav" [class.open]="menuOpen">
      <a routerLink="/accueil" routerLinkActive="active" (click)="menuOpen = false" class="nav-link">ACCUEIL</a>
      <a routerLink="/oma" routerLinkActive="active" (click)="menuOpen = false" class="nav-link">OMA</a>
      <a routerLink="/travailler" routerLinkActive="active" (click)="menuOpen = false" class="nav-link">TRAVAILLER AVEC
        UN ARCHITECTE</a>
      <a routerLink="/mediatheque" routerLinkActive="active" (click)="menuOpen = false" class="nav-link">MÉDIATHEQUE</a>
      <a routerLink="/faq" routerLinkActive="active" (click)="menuOpen = false" class="nav-link">FAQ</a>
      <a routerLink="/contact" routerLinkActive="active" (click)="menuOpen = false" class="nav-link">CONTACT</a>
    </nav>
  </div>
  <div class="oaa-separateur"></div>

</header>