<header class="oaa-header">
    <div class="oaa-header-top">
      <div class="oaa-logo">
        <img src="https://ordredesarchitectes.be/assets/img/logo.svg" alt="OMA Logo" height="64">
      </div>
      <nav class="oaa-nav">
        <a routerLink="/accueil">Accueil</a>
        <a routerLink="/oma">OMA</a>
        <a routerLink="/travailler">Travailler avec un architecte</a>
        <a routerLink="/mediatheque">Mediatheque</a>
        <a routerLink="/faq">FAQ</a>
        <a routerLink="/contact">Contact</a>
      </nav>
     
    </div>
    <div class="oaa-separateur"></div>
  </header>