<section class="section-beige histoire-section">
  <img src="/assets/icon/Gauche.png" alt="" class="section-deco-left">

  <div class="histoire-container">
    <div class="histoire-header">
      <h2>Histoire de l'Ordre</h2>
      <div class="header-underline"></div>
    </div>

    <div class="histoire-content-card">
      <div class="card-icon">
        <img src="assets/icon/icon principale.png" alt="Logo OMA">
      </div>

      <div class="card-text">
        <p class="lead-text">
          L’Ordre Mauritanien des Architectes (OMA) a été fondé pour structurer et valoriser la profession d’architecte
          en Mauritanie.
        </p>
        <p>
          Depuis sa création, l’OMA veille à l’éthique, à la compétence et à la reconnaissance des architectes,
          tout en accompagnant l’évolution du cadre bâti national. L’Ordre joue un rôle central dans la promotion de
          l’architecture, la défense des intérêts de la profession et la garantie de la qualité des réalisations au
          service
          de la société.
        </p>
      </div>

      <div class="card-footer">
        <span class="check-icon">✓</span>
        <p>Une profession structurée, éthique et au service du développement harmonieux du territoire mauritanien.</p>
      </div>
    </div>
  </div>

  <img src="/assets/icon/icon%20principale%20en%20grand.png" alt="" class="section-deco-right">
</section>